<h2><%= @restaurant.name%></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<%= link_to "Edit", edit_restaurant_path(@restaurant)%>
<%= link_to "Restaurant List", restaurants_path %>
